/* You can add global styles to this file, and also import other style files */

@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css";

.container-main{
    height: 500px !important;
    width: 100% !important;
}
.container-header{
    
    height: 108px !important;
}

.row-header{
    height: 150px;
    width: 700px;
}

.row-footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #337ab7;
    color: white;
    text-align: center;
}
.row-main{
    height: 450px;
}

.col-prev-booking{
    height: 400px;
}

.col-prev-booking-panel-body{
    min-height: 400px; 
    max-height: 400px;
    overflow-y: scroll;
}

.col-upcomming-booking{
    height: 400px;
}

.col-upcomming-booking-panel-body{
    min-height: 400px; 
    max-height: 400px;
    overflow-y: scroll;
}

.container-avail{
    height: 400px !important;
    width: 100% !important;
}

.row-avail{
    width: 100% !important;
    padding-top: 2% !important;
    padding-left: 30% !important;
}

.row-avail-btn{
    width: 100% !important;
    padding-top: 2% !important;
    padding-left: 40% !important;
}


.row-img-myb{
    padding-top: 2% !important;
    padding-left: 38% !important;
}
.lbl-avail{
   margin-left: -18%; 
}
.btn-avail{
    margin-left: 5%;
}

.input-avail{
    width: 220% !important;
    margin-left: -100% !important; 
    text-align: center !important;
    padding: 10% !important;
}

.btn-login{
padding-top: 1% !important;
text-align: right !important;
}