<div class="container">
  <div class="row">
      <div class="col-xs-3">
          <app-header></app-header>
      </div>
      
  </div>

</div>
  <div class="container container-main">
  <div class="row" style="height: 70px;">

  </div>
  <div class="row row-main">
    
    <div class="col-sm-2 col-prev-booking">
        <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Previous Booking</h3>
            </div>
            <div class="panel-body col-prev-booking-panel-body">
              
              
            </div>
        
          </div>

    </div> 
    
    <div class="col-sm-8">
        
        <router-outlet></router-outlet>
    </div>  
    
    <div class="col-sm-2 col-upcomming-booking">
        <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Up Comming Booking</h3>
            </div>
            <div class="panel-body col-upcomming-booking-panel-body">
              
              
            </div>
        
          </div>
    </div> 
    

  </div>
  <div class="row row-footer">
    <app-footer></app-footer>
  </div>

</div>
  