<div class="container">
    <div class="row">
        <div class="col-sm-6 login">
            <img src="/src/assets/img/Make-your-booking-orange.jpg" alt="logo">
        </div> 
        <div class="col-sm-6 btn-login">   
        <a href="#" class="btn btn-primary btn-lg">
                <span class="glyphicon glyphicon-log-in"></span> Log in
            </a>
        </div>
    </div>
    </div>