<form [formGroup]="bookingForm" (ngSubmit)="onSubmit()" class="form-horizontal">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Create Booking</h3>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <label class="col-sm-2 control-label" for="firstName">First Name</label>
        <div class="col-sm-8">
          <input id="firstName" formControlName="firstName" type="text" class="form-control"> 
        </div>
      </div>

      <div class="form-group">
          <label class="col-sm-2 control-label" for="lastName">Last Name</label>
          <div class="col-sm-8">
            <input id="lastName" formControlName="lastName"type="text" class="form-control"> 
          </div>
      </div>
      <div class="form-group">
          <label class="col-sm-2 control-label" for="email">Email</label>
          <div class="col-sm-8">
            <input id="email" formControlName="email" type="text" class="form-control">
          </div>
      </div>
      <div class="panel-footer">
        <button class="btn btn-primary" type="submit">Save</button>
      </div>

    </div>

  </div>
</form>