<form [formGroup]="availabilityForm" (ngSubmit)="onSubmit()">
  <div class="container-avail"> 
    <div class="row row-img-myb">
      <img class="lbl-avail" src="/src/assets/img/make-your-booking-label.jpg" alt="logo">
    </div>
    <div class="row row-avail">
      <div class="col-sm-3 form-group">
        <input type="text" class="form-control  input-lg input-avail"
               placeholder="Select Start Date" bsDatepicker formControlName="startDate" 
               [bsConfig]="{ dateInputFormat : 'Do MMMM YYYY', containerClass: 'theme-orange' }" />

      </div>
      <div class="col-sm-3 form-group"></div>
      <div class="col-sm-3 form-group">
      <input type="text" class="form-control  input-lg input-avail"
               placeholder="Select End Date" bsDatepicker formControlName="endDate" 
               [bsConfig]="{ dateInputFormat : 'Do MMMM YYYY', containerClass: 'theme-orange' }" />               
      </div>
    </div>
    <div class="row row-avail-btn">
      <button class="btn btn-primary btn-avail" type="submit">Check Availability</button>
    </div>
  </div>
</form>